@model Moirae.ViewModels.EmailViewModel;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Form Submission</title>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        @@media only screen and (max-width: 550px), screen and (max-device-width: 550px) {

        {
            body [yahoo] .buttonwrapper

        {

        {
            background-color: transparent !important;
        }

        }

        body[yahoo] .button {

        {
            padding: 0 !important;
        }

        }

        body[yahoo] .button a {

        {
            background-color: #9b59b6;
            padding: 15px 25px !important;
        }

        }
        }
        }

        @@media only screen and (min-device-width: 601px) {

        {
            .content

        {

        {
            width: 600px !important;
        }

        }

        .col387 {

        {
            width: 387px !important;
        }

        }
        }
        }
    </style>
</head>
<body bgcolor="#ffffff" style="margin: 0; padding: 0;" yahoo="fix">
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width: 100%; max-width: 100vw;" class="content">
        <tr>
            <td align="center" bgcolor="#007898" style="color: #ffffff; max-height: 100px; font-family: Arial, sans-serif; font-size: 36px; font-weight: bold; padding: 30px;">
                <img src="@Model.ImageLink" alt="Senior Dickson Logo" height="60" style="display: block; max-height: 105px;" />
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#007898" style="padding: 10px 20px 40px 20px; color: white; font-family: Arial, sans-serif; font-size: 2.5rem; line-height: 1.5; font-weight: bold;">
                <h1><span>@Model.Title</span><br /></h1>
            </td>
        </tr>
    </table>
    <table align="center" border="0" cellpadding="0" cellspacing="10" style="width: 100%; max-width: 570px; margin-left: auto; margin-right: auto; border-spacing: 20px;" class="content">
        @if (Model.Name != null)
        {
            <tr>
                <td><strong>Name:</strong></td>
                <td>@Model.Name</td>
            </tr>
        }
        @if (Model.Email != null)
        {
            <tr>
                <td><strong>Email:</strong></td>
                <td>@Model.Email</td>
            </tr>
        }
        @if (Model.Phone != null)
        {
            <tr>
                <td><strong>Phone:</strong></td>
                <td>@Model.Phone</td>
            </tr>
        }
        @if (Model.Company != null)
        {
            <tr>
                <td><strong>Company: </strong></td>
                <td>@Model.Company</td>
            </tr>
        }
        @if (Model.Message != null)
        {
            <tr>
                <td><strong>Message:</strong></td>
                <td>@Model.Message</td>
            </tr>
        }
    </table>
</body>
</html>
